@charset "utf-8";
/* CSS Document */
body
{
	background:url(../icon/b.png);
	font-family:微軟正黑體;
}
select,select option
{
	padding:5px;
}
input[type='text'],input[type='file'],input[type='password'],textarea,.button
{
	width:200px;
	font-size:16px;
	padding:7px 5px 7px 5px;
	background:#4C4C4C;
	color:#E7E7E7;
	border:none;
	font:Open Sans,'微軟正黑體';
	font-weight:600;
}
input[type='button'],input[type='submit'],input[type='reset'],button,.button
{
	padding: 5px 10px;
	border-radius: 5px;
	background:#000;
	color:#fff;
	border:none;
	cursor:pointer;
	font-size:12px;
	text-decoration:none;
}
input[type='button']:hover,input[type='submit']:hover,input[type='reset']:hover,button:hover,.button:hover
{
	background:#F1B878;
}
input:focus
{
	outline:none;
}
#main
{
	width:1022px;
	height:768px;
	border:#000 1px solid;
	margin:30px auto 10px auto;
}
#top
{
	display:block;
	height:100px;
}
#top2
{
	display:block;
	height:50px;
	background: -webkit-linear-gradient(top,#666,#333);
	background: -ms-linear-gradient(top,#666,#333);
	background: -moz-linear-gradient(top,#666,#333);
	background: linear-gradient(top,#666,#333);
}
#top2 a
{
	display:inline-block;
	width:200px;
	padding:12px 20px 12px 20px;
	text-align:center;
	color:#ccc;
	text-decoration:none;
	font:normal 22px/26px Open Sans,'微軟正黑體';
	transition:all ease-in .3s;
}
#top2 a:hover
{
	color:#FFF;
}
#text
{
	display:block;
	height:38px;
	box-shadow:#CCC 0px 0px 10px 1px inset;
	background-color: #1e1e1e;
}
#text span
{
	width:10%;
	display:inline-block;
	padding:10px 0px 10px 0px;
	vertical-align:top;
	background: -ms-linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,1));
	background: -webkit-linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,1));
	background: -moz-linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,1));
	background: linear-gradient(top,rgba(255,255,255,0.8),rgba(255,255,255,1));
}
#text marquee
{
	width:79.5%;
	height:100%;
	display:inline-block;
	color:#a8c7fd;
}
#mm
{
	padding:10px;
	height:497px;
}
#bo
{
	padding:10px 5px 10px 5px;
	min-height:20px;
	display:block;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif,'微軟正黑體';
	font-weight:500;
	background:rgba(0,0,0,0.3);
}
.ct
{
	text-align:center;
}
.half
{
	width:45%;
	display:inline-block;
	padding:0 2%;
}
.rb
{
	background:rgba(39,39,39,0.7);
	color:rgba(255,255,255,0.9);
}
.tab
{
	width:80%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	min-height:100px;
	padding:10px;
}
.ts
{
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.a a
{
	color:#FFF;
	text-decoration:none;
}
.a a:hover
{
	text-decoration:underline;
}
.w td
{
	padding:4px;
}
.whi
{
	color:#fff;
	text-decoration:none;
}
.whi:hover
{
	text-decoration:underline;
}
.c td
{
	 border: 1px solid #666;
}
.wx
{
	background:linear-gradient(top,rgba(255,255,255,0.2),rgba(102,102,102,0.2));
	background:-ms-linear-gradient(top,rgba(255,255,255,0.2),rgba(102,102,102,0.2));
	background:-webkit-linear-gradient(top,rgba(255,255,255,0.2),rgba(102,102,102,0.2));
	background:-moz-linear-gradient(top,rgba(255,255,255,0.2),rgba(102,102,102,0.2));
}
.wx:active
{
	box-shadow:rgba(51,51,51,0.8) 0px 0px 10px .3px inset;
}
.wx::selection
{
	cursor:default;
}

.aut {
	margin-left: auto;
	margin-right: auto;
}

.my-5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.my-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}


.mx-2 {
	margin-right: 2px;
	margin-left: 2px;
}

.mx-5 {
	margin-right: 5px;
	margin-left: 5px;
}

.mx-10 {
	margin-right: 10px;
	margin-left: 10px;
}

.m-1 {
	margin: 1px;
}

.p-10 {
	padding: 10px;
}


.p-5 {
	padding: 5px;
}

.p-r {
	position: relative;
}

.p-a {
	position: absolute;
}

.d-f {
	display: flex;
}

.d-n {
	display: none;
}

.a-c {
	align-items: center;
}

.j-c {
	justify-content: center;
}

.j-b {
	justify-content: space-between;
}

.cup {
	cursor: pointer;
}

.red {
	color: red;
}

.w-100 {
	width: 100%;
}
.w-90 {
	width: 90%;
}
.w-80 {
	width: 80%;
}
.w-70 {
	width: 70%;
}
.w-60 {
	width: 60%;
}
.w-50 {
	width: 50%;
}
.w-40 {
	width: 40%;
}
.w-30 {
	width: 30%;
}
.w-20 {
	width: 20%;
}
.w-10 {
	width: 10%;
}
.w-45 {
	width: 45%;
}
.w-33 {
	width: 33%;
}
.w-25 {
	width: 25%;
}
.w-15 {
	width: 15%;
}


.grey0 {
	background-color: #eee;
}
.grey1 {
	background-color: #ccc;
}
.grey2 {
	background-color: #aaa;
}
.grey3 {
	background-color: #555;
}

.white {
	background-color: white;
}

.mytitle {
	font-size: 18px;
	font-weight: bolder;
}

.fs-12 {
	font-size: 12px;
}

.overa {
	overflow: auto;
}

.overh {
	overflow: hidden;
}

.poster_list {
	/* background-color: #a8c7fd; */
	height: 200px;
}
.movie_list {
	/* background-color: #a8c7fd; */
	height: 400px;
}
.order_list {
	/* background-color: #a8c7fd; */
	height: 360px;
}

.page a{
	text-decoration: none;
	color: white;
}

.nowPage {
	font-size: 1.5rem;
}

.f-w {
	flex-wrap: wrap;
}

.book_bg {
	background-image: url(../icon/03D04.png);
	background-repeat: no-repeat;
	width: 540px;
	height: 370px;
}

.set_group {
	/* background-color: #a8c7fd; */
	padding-top: 17px;
	width: 320px;
	height: 342px;
}

.set_item {
	width: calc(320px / 5);
	height: calc(342px / 4);
	background-image: url(../icon/03D02.png);
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hasPeople {
	background-image: url(../icon/03D03.png);
}